html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.body-board-view {
        background-position: 50%;
        background-size: cover;
        overflow: hidden;
        background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1537x1920/5f72c67b5e9036f5ec4980298c7a22ff/photo-1584433213328-fad675bc3052.jpg');
    }
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}